

#loan-panel-div-inner {
    display: inline-block;
    background-color: whitesmoke;
    height: 60vh;
    width: 80vh;
    border-radius: 6%;
    border: 1px solid #4A4A4B;
    padding: 4%;
}

#loan-panel-inner-inner-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#user-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

#cibil-score {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid black;
    padding: 5px;
}

#max-loan-div {
    display: flex;
    flex-direction: column;
}

#create-loan-post {
    width: 60%;
}

.vertical-line {
    width: 1px;
    background-color: black;
    margin-right: 5%;
}